services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: radicle
      POSTGRES_USER: radicle
      POSTGRES_PASSWORD: radicle
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    env_file: .env
    ports:
      - "8000:8000"
    volumes: #this is for hot reloading i.e. when you make changes to the code, the container will reload automatically
      - .:/app
      - /Users/gardlyphiloctete/Documents/Music Admin:/host_media
      - /Users/gardlyphiloctete/Music:/host_music
    depends_on:
      - db
      - redis
    

  worker:
    build: .
    command: celery -A core worker -l info
    env_file: .env
    depends_on:
      - db
      - redis

volumes:
  postgres_data: